<div class="abc">
    <table>
        <tr>
            <th> <label>USER ID :</label></th>
            <td><input type="text" name="uid" class="xyz"></td>
        </tr>    
        <tr>
            <th> <label>USER NAME :</label></th>
            <td><input type="text" name="uid" class="xyz"></td>
        </tr>
        <tr>
            <th> <label>USER AGE  :</label></th>
            <td><input type="text" name="uid" class="xyz"></td>
        </tr>
        <tr>
            <th> <label>USER SALARY :</label></th>
            <td><input type="text" name="uid" class="xyz"></td>
        </tr>
        <tr>
            <th> <label>USER Desig :</label></th>
            <td><input type="text" name="uid" class="xyz"></td>
        </tr>
        <tr>
            <th>
            </th>
            <td>
                <input type="submit" value="Register">
                 <input type="reset"  value="Reset">     
            </td>
        </tr>
    </table>
</div>

