<h1>Hi Welcome to Angualr Application...!</h1>
<div>
  <h3>
      <a routerLink="home">HOME </a> ||
      <a routerLink="galary">CHAT APP  </a> ||
      <a routerLink="signup">SIGNUP</a> ||
      <a routerLink="login">LOGIN</a> ||
      <a routerLink="data">DATABINDING</a> ||
      <a routerLink="directive">Directives</a> ||
      <a routerLink="pipe">PIPE Demo</a> ||
      <a routerLink="forms">Forms </a> ||
      <a routerLink="serv">Service  </a> ||
      <a routerLink="prod">product  </a> ||
  </h3>
</div>

<div>
  <router-outlet></router-outlet>
</div>

