
<div [ngClass]="{'bgclr':true,'brdr':true }">
    Ernst & Young Global Limited, trade name EY, is a British multinational 
    professional services partnership headquartered in London, England. 
    EY is one of the largest professional services networks in the world. 
    Along with Deloitte, KPMG and PwC, 
    it is considered one of the Big Four accounting firms.
    Ernst & Young Global Limited, trade name EY, is a British multinational 
    Along with Deloitte, KPMG and PwC, 
    it is considered one of the Big Four accounting firms.
</div>

<div [ngClass]="{'bgclr':false,'brdr':true }">
    Ernst & Young Global Limited, trade name EY, is a British multinational 
    Along with Deloitte, KPMG and PwC, 
    it is considered one of the Big Four accounting firms.
    Ernst & Young Global Limited, trade name EY, is a British multinational 
    professional services partnership headquartered in London, England. 
    EY is one of the largest professional services networks in the world. 
    Along with Deloitte, KPMG and PwC, 
    it is considered one of the Big Four accounting firms
</div>

<div [ngClass]="{'bgclr':true,'brdr':false }">
    Ernst & Young Global Limited, trade name EY, is a British multinational 
    Along with Deloitte, KPMG and PwC, 
    it is considered one of the Big Four accounting firms.
    Ernst & Young Global Limited, trade name EY, is a British multinational 
    professional services partnership headquartered in London, England. 
    EY is one of the largest professional services networks in the world. 
    Along with Deloitte, KPMG and PwC, 
    it is considered one of the Big Four accounting firms.
</div>

<!-- <div *ngIf="true">
    <h1> Hi Div2  </h1>
</div>
<div *ngIf="option">
    <h1> Hi Div3 </h1>
</div>

<ul *ngFor="let employee of emp">
    <li>{{employee}}</li>
</ul>'
'
<input type="text" #addFruit>
<input type="submit" (click)="storeFruts(addFruit.value)">

<br>
<ul *ngFor="let fruit of fruits">
    <li>{{fruit}}</li>
</ul>

<div [ngSwitch]="num">
    <div *ngSwitchCase="'1'">One</div>
    <div *ngSwitchCase="'2'">Two</div>
    <div *ngSwitchCase="'3'">Three</div>
    <div *ngSwitchCase="'4'">Four</div>
    <div *ngSwitchCase="'5'">Five</div>
    <div *ngSwitchCase="'6'">SIX</div>
    <div *ngSwitchDefault>This is Default</div>
  </div>
   -->