
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> E & Y </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a  routerLink="home">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Food<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a routerLink="veg">Vegetarian </a></li>
          <li><a href="#">NON Vegetarian</a></li>
          <li><a routerLink="fish">FISH </a></li>
        </ul>
      </li>
      <li><a href="#">Branches </a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">

  <!-- achive routingh 
    1: inseted of usunbg href , we are usingf the routerlink
    2 ) <router-outlet></router-outlet>
    3) we have to configur in routing file  -->
    <img src="../assets/animal.jpg">
    <router-outlet></router-outlet>
</div>